.tableWrapper {
  height: clamp(300px, 50vh, 500px);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

.detailContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
